# Data Manipulation
pandas
pandas-gbq

# Google Cloud Platform
google-cloud-bigquery
google-cloud-storage
db-dtypes

# Notebook Environment
jupyter
notebook

# Visualization
matplotlib
seaborn

# Environment Variables (good practice for credentials)
python-dotenv
duckdb
duckdb-engine
